<div class="hero-unit">
  <p class="lead">&quot;One Interesting Fact&quot; is a fun online game for all ages.</p>

  <p>Players compete to come up with the funniest, most entertaining answer to a variety of questions!</p>

</div>

<div style="width: 200px; margin: 10px auto;">
  <a class="btn btn-success btn-large btn-block">Play Now!</a>
</div>
