<%= partial :session_dump %>

<form method="post">
  <p><input class="span3" placeholder="name" type="text" name="name" /></p>
  <p><input class="span3" placeholder="you@email.com" type="email" name="email" /></p>
  <input type="submit" class="btn">
</form>
