<form method="post">
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <p><input class="span3" placeholder="player@email.com" type="email" name="emails[]" /></p>
  <input type="submit" class="btn">
</form>
